{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        h4 span {
            font-size:14px;
            font-weight:normal;
        }
        h2 {
            float: right;
        }
        h2 span {
            font-size:14px;
            font-weight:normal;
        }
    </style>
{% endblock %}

{% block scrollable %}
<div class="container">
    <h1>Player Dashboard</h1>
    <div class="row">
        <div class='col-md-2' id="select1">
            <h4>
                Select Player
            </h4>
        </div>
        <div class='col-md-3' id="select2">
            <h4>
                Select Game Time
            </h4>
        </div>
        <div class='col-md-4' id="select3">
            <h4>
                Select Date
            </h4>
        </div>
    </div>
    <div style="padding: 20px;"></div>
    <div class="row">
        <div class='col-md-4' id="chart-ring-year">
            <h4>
                Shots by Player
                <span>
                 <a class="reset" href="javascript:yearRingChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
            </span>
            </h4>
        </div>
        <div class='col-md-4' id="chart-hist-spend">
            <h4>
                Assists by Player
                <span>
                 <a class="reset" href="javascript:spendHistChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
            </span>
            </h4>
        </div>
        <div class='col-md-4' id="chart-row-spenders">
            <h4>
                Goals by Player
                <span>
                 <a class="reset" href="javascript:spenderRowChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
            </span>
            </h4>
        </div>
    </div>
    <div style="padding: 20px;"></div>
    <div class="row">
        <div class='col-md-4' id="chart-row-spenders1">
            <h4>
                Saves by Player
                <span>
                 <a class="reset" href="javascript:spenderRowChart1.filterAll();dc.redrawAll();" style="display: none;">reset</a>
            </span>
            </h4>
        </div>
        <div class='col-md-6' id="ret">
            <span style="display:inline" id="name1"></span><p style="display:inline"> took </p><span id="name2" style="display:inline"></span><p style="display:inline"> shots, had </p><span style="display:inline" id="name3"></span><p style="display:inline"> assists, scored </p><span style="display:inline" id="name4"></span><p style="display:inline"> goals, and saved </p><span style="display:inline" id="name5"></span><p style="display:inline"> shots.</p>
        </div>
    </div>

</div>
{% endblock %}

{% block li1 %}
    <li>
        <a href="{{ path('db_homepage') }}">
            <i class="fa fa-home fa-2x"></i>
            <span class="nav-text">
                            Home
                        </span>
        </a>

    </li>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://rawgit.com/dc-js/dc.js/master/web/js/d3.js"></script>
    <script type="text/javascript" src="https://rawgit.com/dc-js/dc.js/master/web/js/crossfilter.js"></script>
    <script type="text/javascript" src="https://rawgit.com/dc-js/dc.js/develop/dc.js"></script>
    <script type="text/javascript">
        var yearRingChart   = dc.pieChart("#chart-ring-year"),
            spendHistChart  = dc.barChart("#chart-hist-spend"),
            spenderRowChart1 = dc.barChart("#chart-row-spenders1"),
            selectField = dc.selectMenu('#select1'),
            selectField1 = dc.selectMenu('#select2'),
            selectField2 = dc.selectMenu('#select3'),
            name02 = dc.numberDisplay('#name2'),
            name03 = dc.numberDisplay('#name3'),
            name04 = dc.numberDisplay('#name4'),
            name05 = dc.numberDisplay('#name5'),
            spenderRowChart = dc.rowChart("#chart-row-spenders");

        var spendData = {{ datajson|raw }};
            // normalize/parse data
            spendData.forEach(function(d) {
                d.shot = +d.shot;
                d.goal = +d.goal;
                d.keepersave = +d.keepersave;
                d.offsides = +d.offsides;
                d.assist = +d.assist;

            });

            // set crossfilter
            var ndx = crossfilter(spendData),
                yearDim  = ndx.dimension(function(d) {return d.pName;}),
                spendDim = ndx.dimension(function(d) {return d.pName;}),
                nameDim  = ndx.dimension(function(d) {return d.pName;}),
                nameDim1  = ndx.dimension(function(d) {return d.pName;}),
                nameDim2  = ndx.dimension(function(d) {return d.pName;}),
                nameDim3  = ndx.dimension(function(d) {return d.halftime;}),
                nameDim4  = ndx.dimension(function(d) {return d.date.date;}),
                spendPerYear = yearDim.group().reduceSum(function(d) {return +d.shot;}),
                spendPerName = nameDim.group().reduceSum(function(d) {return +d.goal;}),
                spendHist    = spendDim.group().reduceSum(function(d) {return +d.assist;}),
                spendHist1    = nameDim1.group().reduceSum(function(d) {return +d.keepersave;}),
                spendHist2    = nameDim2.group().reduceSum(function(d) {return +d.offsides;}),
                spendHist3    = nameDim3.group().reduceSum(function(d) {return +d.offsides;}),
                spendHist4    = nameDim4.group().reduceSum(function(d) {return +d.shot;});
            selectField
                .dimension(nameDim2)
                .group(spendHist2)
                .on('pretransition', function(chart, filter){
                    var x = document.getElementsByTagName('option');
                    d3.select(x[0]).attr("id","All Players");
                    if ($("#select1 select").find(':selected').attr("id")) {
                        document.getElementById("name1").textContent = $("#select1 select").find(':selected').attr("id");
                    } else {
                        document.getElementById("name1").textContent = $("#select1 select").find(':selected').val();
                    }
                });

        name02
            .group(yearDim.groupAll().reduceSum(function(d) {return +d.shot;}))
            .formatNumber(d3.format(".0s"))
            .valueAccessor( function(d) { return d; } );
        name03
            .group(spendDim.groupAll().reduceSum(function(d) {return +d.assist;}))
            .formatNumber(d3.format(".0s"))
            .valueAccessor( function(d) { return d; } );
        name04
            .group(nameDim.groupAll().reduceSum(function(d) {return +d.goal;}))
            .formatNumber(d3.format(".0s"))
            .valueAccessor( function(d) { return d; } );
        name05
            .group(nameDim1.groupAll().reduceSum(function(d) {return +d.keepersave;}))
            .formatNumber(d3.format(".0s"))
            .valueAccessor( function(d) { return d; } );

        selectField.filterDisplayed(function () {
            return true;
        });
        selectField1.filterDisplayed(function () {
            return true;
        });
        selectField2.filterDisplayed(function () {
            return true;
        });
        selectField.title(function (d){
            return d.key;
        });
        selectField1.title(function (d){
            return d.key;
        });
        selectField2.title(function (d){
            return d.key;
        });
            selectField1
                .dimension(nameDim3)
                .group(spendHist3);
            selectField2
                .dimension(nameDim4)
                .group(spendHist4);
            yearRingChart
                .width(200).height(200)
                .dimension(yearDim)
                .group(spendPerYear)
                .innerRadius(50);
            spendHistChart
                .width(300).height(200)
                .dimension(spendDim)
                .group(spendHist)
                .x(d3.scale.ordinal())
                .xUnits(dc.units.ordinal)
                .elasticX(true)
                .elasticY(true);
            spendHistChart.yAxis().ticks(2);
            spenderRowChart1
                .width(300).height(200)
                .dimension(nameDim1)
                .group(spendHist1)
                .x(d3.scale.ordinal())
                .xUnits(dc.units.ordinal)
                .elasticX(true)
                .elasticY(true);
            spenderRowChart1.yAxis().ticks(2);
            spenderRowChart
                .width(350).height(200)
                .dimension(nameDim)
                .group(spendPerName)
                .elasticX(true);
            dc.renderAll();



    </script>
{% endblock %}

