{% extends 'base.html.twig' %}

{% block scrollable %}
    <div class="container">
        <h1>Team Dashboard</h1>
        <div class="row">
            <div class='col-md-2' id="select1">
                <h4>
                    Select Team
                </h4>
            </div>
            <div class='col-md-3' id="select2">
                <h4>
                    Select Game Time
                </h4>
            </div>
            <div class='col-md-3' id="select4">
                <h4>
                    Select Venue
                </h4>
            </div>
            <div class='col-md-4' id="select3">
                <h4>
                    Select Date
                </h4>
            </div>
        </div>
        <div style="padding: 20px;"></div>
        <div class="row">
            <div class='col-md-4' id="chart-ring-year">
                <h4>
                    Corners by Team
                    <span>
                 <a class="reset" href="javascript:yearRingChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
            </span>
                </h4>
            </div>
            <div class='col-md-4' id="chart-hist-spend">
                <h4>
                    Free Kicks by Team
                    <span>
                 <a class="reset" href="javascript:spendHistChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
            </span>
                </h4>
            </div>
            <div class='col-md-4' id="chart-row-spenders">
                <h4>
                    Goal Kicks by Team
                    <span>
                 <a class="reset" href="javascript:spenderRowChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
            </span>
                </h4>
            </div>
        </div>

    </div>
{% endblock %}

{% block li1 %}
    <li>
        <a href="{{ path('db_homepage') }}">
            <i class="fa fa-home fa-2x"></i>
            <span class="nav-text">
                            Home
                        </span>
        </a>

    </li>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://rawgit.com/dc-js/dc.js/master/web/js/d3.js"></script>
    <script type="text/javascript" src="https://rawgit.com/dc-js/dc.js/master/web/js/crossfilter.js"></script>
    <script type="text/javascript" src="https://rawgit.com/dc-js/dc.js/develop/dc.js"></script>
    <script type="text/javascript">
        var yearRingChart   = dc.pieChart("#chart-ring-year"),
            spendHistChart  = dc.barChart("#chart-hist-spend"),
            selectField = dc.selectMenu('#select1'),
            selectField1 = dc.selectMenu('#select2'),
            selectField2 = dc.selectMenu('#select3'),
            selectField3 = dc.selectMenu('#select4'),
            spenderRowChart = dc.rowChart("#chart-row-spenders");

            var spendData = {{ datajson|raw }};
            // normalize/parse data
            spendData.forEach(function(d) {
                d.cornerK = +d.cornerK;
                d.goalK = +d.goalK;
                d.freeK = +d.freeK;
            });
            function remove_empty_bins(source_group) {
                return {
                    all:function () {
                        return source_group.all().filter(function(d) {
                            return d.value != 0;
                        });
                    }
                };
            }
            // set crossfilter
            var ndx = crossfilter(spendData),
                yearDim  = ndx.dimension(function(d) {return d.tName;}),
                spendDim = ndx.dimension(function(d) {return d.tName;}),
                nameDim  = ndx.dimension(function(d) {return d.tName;}),
                nameDim1  = ndx.dimension(function(d) {return d.tName;}),
                nameDim2  = ndx.dimension(function(d) {return d.venue;}),
                nameDim3  = ndx.dimension(function(d) {return d.halftime;}),
                nameDim4  = ndx.dimension(function(d) {return d.date.date;}),
                spendPerYear = yearDim.group().reduceSum(function(d) {return +d.cornerK;}),
                spendPerName = nameDim.group().reduceSum(function(d) {return +d.goalK;}),
                spendHist    = spendDim.group().reduceSum(function(d) {return +d.freeK;}),
                spendHist1    = nameDim1.group().reduceSum(function(d) {return +d.freeK;}),
                spendHist2    = nameDim2.group().reduceSum(function(d) {return +d.freeK;}),
                spendHist3    = nameDim3.group().reduceSum(function(d) {return +d.freeK;}),
                spendHist4    = nameDim4.group().reduceSum(function(d) {return +d.freeK;});
        selectField
            .dimension(nameDim1)
            .group(spendHist1);
        selectField3
            .dimension(nameDim2)
            .group(spendHist2);
        selectField3.filterDisplayed(function () {
            return true;
        });
        selectField.filterDisplayed(function () {
            return true;
        });
        selectField1.filterDisplayed(function () {
            return true;
        });
        selectField2.filterDisplayed(function () {
            return true;
        });
        selectField.title(function (d){
            return d.key;
        });
        selectField3.title(function (d){
            return d.key;
        });
        selectField1.title(function (d){
            return d.key;
        });
        selectField2.title(function (d){
            return d.key;
        });
        selectField1
            .dimension(nameDim3)
            .group(spendHist3);
        selectField2
            .dimension(nameDim4)
            .group(spendHist4);
            yearRingChart
                .width(200).height(200)
                .dimension(yearDim)
                .group(spendPerYear)
                .innerRadius(50);
            spendHistChart
                .width(300).height(200)
                .dimension(spendDim)
                .group(spendHist)
                .x(d3.scale.ordinal())
                .xUnits(dc.units.ordinal)
                .elasticX(true)
                .elasticY(true);
            spendHistChart.yAxis().ticks(2);
            spenderRowChart
                .width(350).height(200)
                .dimension(nameDim)
                .group(spendPerName)
                .elasticX(true);
            dc.renderAll();

    </script>
{% endblock %}

